<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarrierFox.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4E8F7D425191BBA0075AA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E8F7E925191BBC0075AA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4E8F7F425191BBC0075AA3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
